<ErrorBoundary>
    <ChildContent>
        <CascadingAuthenticationState>
            <Router AppAssembly="typeof(Program).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                        <NotAuthorized>
                            @if (context.User.Identity?.IsAuthenticated != true)
                            {
                                <RedirectToLogin />
                            }
                            else
                            {
                                <h1>Not Authorised</h1>
                            }
                        </NotAuthorized>
                        <Authorizing>
                            <SplashScreen Title="Authorizing" Message="This won't take long'" />
                        </Authorizing>
                    </AuthorizeRouteView>
                    <FocusOnNavigate RouteData="routeData" Selector="h1" />
                </Found>
            </Router>
        </CascadingAuthenticationState>
    </ChildContent>
    <ErrorContent>
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h5" Color="Color.Error">An error has occurred.</MudText>
                <MudText Typo="Typo.h6" Color="Color.Error">@context.Message</MudText>
                <MudText Typo="Typo.body1">Please try again later.</MudText>
            </MudCardContent>
        </MudCard>
    </ErrorContent>
</ErrorBoundary>
